- @page_title = t('variants') + ' - ' + default_page_title

.outset

  #orders_map.map
    %ul#orders
      = render :partial => '/admin/shop/variants/index/variant', :collection => @shop_variants

  #actions
    = render :partial => '/admin/shop/variants/index/foot'