- @page_title = t('new_category')

- render_region :main do |main|
  - main.head do
    = render 'admin/shop/categories/edit/head'

  - main.popups do
    = render 'admin/shop/categories/edit/popups'

  - main.form do
    = render 'admin/shop/categories/edit/form'