%h1 Remove Category
%p
  Are you sure you want to
  %strong.warning
    permanently remove
  the following category?
- if @shop_category.products.count > 0  then
  %p
    %strong.warning
      NOTE: This will also delete any products assigned to this Category.
%table#products.index{ :cellspacing => "0", :border => "0", :cellpadding => "0" }
  %tbody
    %tr.node.level-1
      %td.product
        = h @shop_category.title
- form_tag(admin_shop_category_url(@shop_category.id), {:method => :delete, 'data-onsubmit_status'=>'Removing Category&#8230;'}) do
  %p.buttons
    %input.button{ :type => "submit", :value => "Delete Category" }
    or
    = link_to 'Cancel', admin_shop_products_url