%ul
  - render_region :foot do |foot|
    - foot.buttons do
      - @buttons.each do |button|
        %li= render :partial => "admin/shop/products/index/buttons/#{button}"
      
:javascript
  if(typeof(ROUTES) === 'undefined') ROUTES = new Array();

  ROUTES['sort_admin_shop_categories_path'] = "#{sort_admin_shop_categories_path}";
  ROUTES['sort_admin_shop_products_path']   = "#{sort_admin_shop_products_path}";
