%li.product{:id => "shop_product_#{product.id}", :'data-id' => product.id}
  .attributes
    %span.handle.attribute
    - render_region :product do |region|
      - region.product_name do
        %a{ :href => edit_admin_shop_product_path(product), :name => product.name}
          - unless product.attachments.empty?
            %img{:src => product.attachments.first.image.url(:preview), :class => 'icon'}
        %span.name.attribute= link_to product.name, edit_admin_shop_product_path(product)
        %span.sku.attribute= product.sku
      - region.product_modify do
        .modify
          %span.remove= link_to t('remove'), remove_admin_shop_product_url(product)