- f.fields_for :page do |pf|
  - pf.fields_for :parts do |pfp|
    - if pfp.object.name == 'description'
      = pfp.hidden_field :name, :value => pfp.object.name
      ~ pfp.text_area :content, :class => "textarea large", :style => "width: 100%"