- @page_title = @shop_order.status

- render_region :main do |main|
  - main.head do
    = render 'admin/shop/orders/edit/head'

  - main.popups do
    = render 'admin/shop/orders/edit/popups'

  - main.form do
    = render 'admin/shop/orders/edit/form'