- @page_title = t('orders') + ' - ' + default_page_title

.outset

  #head{ :class => "#{@buttons.empty? ? 'min' : 'full'}"}
    = render :partial => '/admin/shop/groups/index/head'
  
  #orders_map.map
    %ul#orders
      = render :partial => '/admin/shop/orders/index/order', :collection => @shop_orders

  #actions
    = render :partial => '/admin/shop/orders/index/foot'