- @page_title = t('orders') + ' - ' + default_page_title

.outset

  #head.min
    = render :partial => '/admin/shop/orders/index/head'
  
  #orders_map.map
    %ul#orders
      = render :partial => '/admin/shop/orders/index/order', :collection => @shop_orders

  #actions
    = render :partial => '/admin/shop/orders/index/foot'