.outset
  
  #head
    height: 21px
    background-color: #9E9E9E
    
    &.full
      height: 46px
      padding-right: 20px
      background-color: #7E7E7E
          
  .map
    background-color: #FFFFFF
    padding:
      bottom: 5px

    .object
      position: relative
      height: 45px
      line:
        height: 45px
      margin:
        bottom: 2px
      
      .attributes
        padding:
          left: 5px
        border:
          bottom: 1px solid #cecece
        
        &:hover
          background:
            color: #e0f0ff
            
        .name, .name a
          color: black
          font:
            weight: bold
            size: 16px
          text:
            decoration: none
          
          &:hover
            color: #0066ce
            text:
              decoration: underline
          
        .modify
          float: right
          width: 200px
          text:
            align: right
          font:
            size: 10px
            
          span
            padding:
              left: 15px
              right: 15px
            
            a
              color: black
              text:
                decoration: none
              
          .add_child
            background:
              image: url(/images/admin/plus.png)
              repeat: no-repeat
              position: 0 50%
            
          .remove
            background:
              image: url(/images/admin/minus.png)
              repeat: no-repeat
              position: 0 50%
  
  #actions
    
    ul
    
      li
        
        a
    
          &.active
            -moz-box-shadow: none
            background: url("../../images/admin/shadow.png") repeat-x scroll 0 0 #FFFFFF
            color: #000000