- form_for [:admin, @shop_customer], :html => {'data-onsubmit_status'=>"Saving Changes&#8230;"} do |f|
  - render_region :form do |form|
    - form.inputs do
      = render :partial => '/admin/shop/customers/edit/inputs', :locals => { :f => f }
      
    - form.meta do
      = render :partial => '/admin/shop/customers/edit/meta',   :locals => { :f => f }
      
    - form.parts do
      = render :partial => '/admin/shop/customers/edit/parts',  :locals => { :f => f }
      
    - form.foot do
      = render :partial => 'admin/shop/customers/edit/foot',    :locals => { :f => f }