- f.fields_for :page do |pf|
  %tr
    %th.label
      = pf.label :parent
    %td.field
      = pf.collection_select :parent_id, Page.all, :id, :title
  = pf.hidden_field :class_name, :value => 'ShopCategoryPage'