.page{:id => "shop_category_#{part.to_slug}", 'data-caption'=>h(part)}
  .part{:id => "shop_category-part-#{part.to_slug}"}
    = render :partial => "admin/shop/categories/edit/parts/#{part}", :locals => { :part => part }