%p.title
  %label{:for => 'shop_product_price'}= t('price')
  = f.text_field :price, :class => 'textbox', :maxlenth => 255, :value => number_to_currency(@shop_product.price, :unit => '', :delimiter => '')