#product_attachments
  overflow: hidden
  padding:
    top: 10px
    
  li.image
    float: left
    padding: 10px
    height: 100px
    width: 100px
    margin:
      right: 10px
    border:
      radius: 6px
    -moz:
      border:
        radius: 6px
    -webkit:
      border:
        radius: 6px
    cursor: move
    overflow: hidden
    *
      vertical:
        align: middle
    
    .wrapper
      display: table-cell
      height: 100px
      width: 100px
      text:
        align: center
      vertical:
        align: middle
        
    img
      width: 100px
      max:
        height: 100px
        
    .title, .caption
      display: none
        
    .actions
      position: absolute
      display: block
      width: 100%
      top: 0
      left: 0
      
      .delete
        position: absolute
        overflow: hidden
        right: -2px
        top: 4px
        width: 20px
        height: 20px
            
    &:first-child
      
      img
        border:
          width: 2px
          color: #cc0000
          style: solid
        
    &:hover
      background:
        color: #f9f6fe
        
#variants
  overflow: hidden

  .variant
    position: relative
    width: 48%
    margin: 5px 0
    padding: 5px
    float: left
    border:
      radius: 6px
    -moz:
      border:
        radius: 6px
    -webkit:
      border:
        radius: 6px
    
    &:hover
      background:
        color: #f9f6fe
    
    span
      display: block
    
    .name
      float: left
      margin: 5px
        left: 5px
      width: 35%
    
      input
        width: 100%
        font-size: 18px
        
    .price
      position: absolute
      top: 10px
      left: 45%
      width: 15%
      
      label
        position: absolute
        top: 5px
      
      input
        font-size: 18px
        width: 85%
        margin-left: 15%
        text-align: right
        
    .value
      position: absolute
      right: 40px
      top: 15px
      text-align: right
        
    .actions
      position: absolute
      top: 15px
      right: 25px
        
#browse_images_popup
  width: 460px
  padding:
    bottom: 10px
    
  #images
    overflow: hidden
    padding: 5px
      bottom: 10px
    
  li.image
    position: relative
    display: block
    float: left
    height: 70px
    padding: 10px
    border:
      radius: 6px
    -moz:
      border:
        radius: 6px
    -webkit:
      border:
        radius: 6px
    cursor: pointer
    
    *
      vertical:
        align: middle
        
    .wrapper
      display: table-cell
      height: 70px
      width: 70px
      text:
        align: center
      vertical:
        algin: middle

      img
        width: 70px
        
    .title
      display: none
      
    .caption
      display: none
      
    .actions
      .delete
        display: none
    
    &:hover
      background:
        color: #F8F7ED
        
#browse_templates_popup
  width: 810px
  
  #templates
    overflow: hidden
    padding: 5px
      bottom: 15px
    
    .template
      position: relative
      display: block
      float: left
      padding: 10px
      border:
        radius: 6px
      -moz:
        border:
          radius: 6px
      -webkit:
        border:
          radius: 6px
      cursor: pointer    
      
      &:hover
        background:
          color: #F8F7ED
          
        .wrapper
        
          .options
          
            .option
              color: #444444
      
      .wrapper
        display: table-cell
        width: 180px
        
        .name
          font-weight: bold
          line-height: 20px
          
        .options
        
          .option
            line-height: 16px
            padding: 4px
            color: #777777