%h3.title Browse Products

%ol#images
  = render :partial => '/admin/shop/groups/edit/shared/product', :collection => @shop_group.available_products

= link_to '', '#browse_products_popup_close', :class => 'close', :id => 'browse_products_popup_close'