- @page_title = t('customers') + ' - ' + default_page_title

.outset

  #customers_map.map
    %ul#customers
      = render :partial => '/admin/shop/customers/index/customer', :collection => @shop_customers

  #actions
    = render :partial => '/admin/shop/customers/index/bottom'