- @page_title = t('new_customer')

- render_region :main do |main|
  - main.head do
    = render 'admin/shop/customers/edit/head'

  - main.popups do
    = render 'admin/shop/customers/edit/popups'

  - main.form do
    = render 'admin/shop/customers/edit/form'