%h1
  = t('remove_customer')

%p
  = t('text.remove_customer.warning')

- form_for [:admin, @shop_customer.becomes(ShopCustomer)], :html => {:method => :delete, 'data-onsubmit_status'=>"Removing Customer&#8230;"} do
  
  %p.buttons
    %input.button{:type=>"submit", :value => t('delete_customer') }/
    = t('or')    
    = link_to t('cancel'), admin_shop_customers_path