%h3.title Browse Images

%ol#images
  = render :partial => '/admin/shop/products/edit/image', :collection => @shop_product.available_images

%a#browse_images_popup_close.close{ :href => '#browse_images_popup_close' }