%h3 Billing

%ul#billings
  - @shop_customer.billings.each do |billing|
    %li.billing
      = render :partial => '/admin/shop/customers/edit/parts/address', :locals => { :address => billing }
      
%h3 Shipping

%ul#shippings
  - @shop_customer.billings.each do |shipping|
    %li.shipping
      = render :partial => '/admin/shop/customers/edit/parts/address', :locals => { :address => shipping }