.drawer
  .drawer_contents#attributes
    %table.fieldset
      - @meta.each do |meta|
        = render :partial => 'admin/shop/products/meta/' + meta, :locals => { :f => fields }
      = render_region :extended_metadata, :locals => { :f => fields }
  .drawer_handle
    %a.toggle{:href=>'#attributes', :rel=>"toggle[attributes]", :class=>"#{(meta_errors? ? 'less' : 'more')}"}= meta_label