- @page_title = t('products') + ' - ' + default_page_title

.outset

  #products_map
    %ul#shop_categories
      = render :partial => '/admin/shop/categories/index/category', :collection => @shop_categories

  #actions
    = render :partial => '/admin/shop/products/index/bottom'