%h1 New Product

- form_for [:shop, @shop_product], :url => admin_shop_products_url, :html => {:method => :post, 'data-onsubmit_status'=>'Creating Product&#8230;'} do |fields|
  = render :partial => 'fields', :object => fields