- @page_title = t('new_product')

- render_region :main do |main|
  - main.head do
    = render 'admin/shop/products/edit/head'

  - main.popups do
    = render 'admin/shop/products/edit/popups'

  - main.form do
    = render 'admin/shop/products/edit/form'