%h1 Remove Product
%p
  Are you sure you want to
  %strong.warning
    permanently remove
  the following product?
%table#products.index{ :cellspacing => "0", :border => "0", :cellpadding => "0" }
  %tbody
    %tr.node.level-1
      %td.product
        = h @shop_product.title
- form_tag(admin_shop_product_url(@shop_product.id), {:method => :delete, 'data-onsubmit_status'=>'Removing Product&#8230;'}) do
  %p.buttons
    %input.button{ :type => "submit", :value => "Delete product" }
    or
    = link_to 'Cancel', admin_shop_products_url