- @page_title = @shop_group.name

- render_region :main do |main|
  - main.head do
    = render 'admin/shop/groups/edit/head'

  - main.popups do
    = render 'admin/shop/groups/edit/popups'

  - main.form do
    = render 'admin/shop/groups/edit/form'