%h3.title Browse Images

%ol#images
  = render :partial => '/admin/shop/products/edit/images/image', :collection => @shop_product.available_images

%a#images_browse_popup_close.close{ :href => '#image_browse_popup_close' }